page-artiste-detail {

    
    
.bg-img {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), #222428),
    url("assets/MV5BMjc4OTc0ODgwNV5BMl5BanBnXkFtZTcwNjM1ODE0MQ@@._V1_UY209_CR0,0,140,209_AL_.jpg");
    background-repeat:no-repeat;
    background-size: contain;
}

.img-header {
    // display: flex;
    // justify-content: center;
    height: 60% !important;
    width: 100%;
}
.img-header img{
    height: 100%;
    width: 90% !important;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tags {
    display: flex;
    justify-content: space-around;
}
.tags p{
    color: #9E9E9E;
    font-weight: 500;
    font-size: small;
}
.tags .green{
    color: #6ed86e;
}
.description {
    color: #ffffff;
    font-size: small;
    margin-top: 10px;
}
.cast {
    color: grey;
    font-size: x-small;
}
.segment-button-indicator {
    background-color: red!important;
}

h4 {
    color: white;
    font-size: initial;
    font-weight: 600;
    margin-left: 17px;
    margin-top: 25px;
}

h3 {
    color: white;
    // font-size: initial;
    font-weight: 900;
    margin-top: 15px;
}

h2 {
    color: white;
    // font-size: initial;
    font-weight: bold;
}

ion-item {
    background-color: transparent !important;
}
.item-md ion-avatar ion-img, .item-md ion-avatar img {
    border-radius: 0;
    overflow: hidden;
    width: 100px;
    height: 50px;
}

.item-ios ion-avatar ion-img, .item-ios ion-avatar img {
    border-radius: 0;
    overflow: hidden;
    width: 100px;
    height: 50px;
}

ion-label {
    font-size: small!important;
}

}
