<ion-header no-border>
  <ion-toolbar transparent>
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-title>Stranger Things</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="bg-img" style="background:black;">
    
      <div class="img-header">
        <img src="{{photoUrl}}">
      </div>

      <!-- <div class="tags">
        <p class="green">97% positif</p>
        <p>2017</p>
        <p>TV - 14</p>
        <p>2 Saisons</p>
      </div> -->

      <!-- <p class="description">When a young boy disappears, his mother, a police chief, and his friends must confront terrifying supernatural forces in order to get him back.</p>
      <p class="cast">
        Creators: Matt Duffer, Ross Duffer<br>
        Stars: Millie Bobby Brown, Finn Wolfhard, Winona Ryder | See full cast & crew </p> -->

        <h3 style="margin-bottom: 10px;" text-center color="light">{{nom}}</h3>

        
        
       <p text-center *ngIf="hasNoSubscription" class="description">Aucun abonnement en cours pour cet artiste.</p>
       <p text-center *ngIf="hasNoSubscription" class="description">Abonnez vous afin de voir ses vidéos</p>


       <div padding *ngIf="hasNoSubscription">
       <button style="margin-top: 25px;" ion-button icon-start (click)="forfaitSheet()" block color="primary">
        <ion-icon name="wallet"></ion-icon>
        S'Abonner à l'artiste
      </button>
    </div>
      <!-- <ion-segment color="netflix-red">
        <ion-segment-button value="liste" checked>
          <ion-icon color="light" name="add"></ion-icon>
          <ion-label color="light">Liste</ion-label>
        </ion-segment-button>
        <ion-segment-button color="light" value="rate">
          <ion-icon color="light" name="thumbs-up"></ion-icon>
          <ion-label color="light">Noter</ion-label>
        </ion-segment-button>
        <ion-segment-button value="share">
          <ion-icon color="light" name="share-alt"></ion-icon>
          <ion-label color="light">Partager</ion-label>
        </ion-segment-button>
        <ion-segment-button>
        </ion-segment-button>
      </ion-segment> -->

      <div padding *ngIf="hasSubscription">
        <button style="margin-top: 5px;" ion-button icon-start (click)="forfaitSheet()" block color="primary">
         <ion-icon name="wallet"></ion-icon>
         Renoulever abonnement
       </button>
     </div>

    <div style="padding-left: 5px; padding-right: 5px;" *ngIf="hasSubscription">
    <h4 color="light">VIDEOS</h4>
    <p text-center *ngIf="noVideo" class="description">L'Artiste n'a aucune vidéo pour l'instant</p>
    <ion-item style="background-color: black !important; color: white; margin-bottom: 5px;" no-lines *ngFor="let v of videoList; let i = index" (click)="playVideo(i)">
      <ion-avatar item-start>
        <img style="object-fit: cover;" src="{{imgVidPath(v.cover)}}">
      </ion-avatar>
      <h2 color="light" text-wrap>
          {{v.titre}}
      </h2>
      <p color="light" text-wrap>
        {{v.description}}
    </p>
      <ion-icon color="light" item-end name="play"></ion-icon>
    </ion-item>

    <!-- <ion-item no-lines>
      <ion-avatar item-start>
        <img src="assets/ep2.jpg">
      </ion-avatar>
      <h2 text-wrap>Chapitre Deux</h2>
      <p text-wrap>Chapitre Deux</p>
      <ion-icon color="light" item-end name="download"></ion-icon>
    </ion-item>
    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="assets/ep3.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
          Chapitre Trois: Holly, Jolly
      </ion-label>
      <ion-icon color="light" item-end name="download"></ion-icon>
    </ion-item>
    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="assets/ep4.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
          Chapitre Quatre: The Body
      </ion-label>
      <ion-icon color="light" item-end name="download"></ion-icon>
    </ion-item>
    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="assets/ep5.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
          Chapitre Cinq: The Vanishing of Will Byers
      </ion-label>
      <ion-icon color="light" item-end name="download"></ion-icon>
    </ion-item> -->
  </div>

</ion-content>
