<ion-header no-border>

  <ion-navbar transparent color="light">
    <button ion-button menuToggle>
			<ion-icon color="light" name="menu"></ion-icon>
		</button>
    <ion-title text-color="light" style="color: white !important;">
      <span text-color="light"> Mes Abonnements </span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background:black;">

  <p text-center *ngIf="hasNoSubscription" class="description">Aucun abonnement en cours pour cet artiste.</p>

  <div text-center style="margin-top: 50%;" class="center" *ngIf="isloading">
    <div text-center>
      <p style="color: white;"><ion-spinner style="color: #ffffff;" name="crescent"></ion-spinner></p>
    </div>
  </div>

  <!-- <ion-card *ngFor="let l of listSubscription; let i = index" (click)="detailArtist(i)">
    <img style="height: 250px; object-fit: cover;" src="{{l.artisteforfait.artiste.photo.path}}"/>
    <ion-card-content>
      <ion-card-title style="color: white; font-weight: 500;">
        {{l.artisteforfait.artiste.nom}}
        </ion-card-title>
      <p style="color: rgb(190, 190, 190); font-weight: 400;"> <a style="font-weight: normal;">Début: </a> {{l.datedebut}} </p>
      <p style="color: rgb(200, 200, 200); font-weight: 400;"> <a style="font-weight: normal;">Fin: </a> {{l.datefin}} </p>
      <p style="color: rgb(160, 160, 160);font-weight: 400;"> <a style="font-weight: normal;">prix: </a> {{l.artisteforfait.prix}} F </p>
    </ion-card-content>
  </ion-card> -->

  <div *ngIf="hasSubscription" style="padding-left: 5px; padding-right: 5px;"> 
  <ion-item no-lines style="background-color: black; margin-bottom: 10px; border-radius: 5px;" *ngFor="let l of listSubscription; let i = index" (click)="detailArtist(i)">
    <ion-avatar item-start>
      <img src="{{imgPath(l.artisteforfait.artiste.photo.path)}}">
    </ion-avatar>
    <h2 style="color: white; font-size: 18px;">{{l.artisteforfait.artiste.nom}}</h2>
    <p text-wrap style="color: rgb(160, 160, 160); font-weight: 400; font-size: 13px;"> <a style="font-weight: normal;">Début: </a>{{convertTodate(l.datedebut) | date:'dd-MM-yyyy, HH:mm:ss'}}</p>
    <p text-wrap style="color: rgb(160, 160, 160); font-weight: 400; font-size: 13px;"> <a style="font-weight: normal;">Fin: </a> {{convertTodate(l.datefin) | date:'dd-MM-yyyy'}}</p>
    <p text-wrap style="color: rgb(160, 160, 160); font-weight: 400; font-size: 13px;"> <a style="font-weight: normal;">prix: </a> {{l.artisteforfait.prix}} F </p>
  </ion-item>
</div>

</ion-content>
