page-mes-abonnements {
    [text-color="netflix-dark"] {
        color: black;
    }
    
    ion-card-content{
        padding: 6px 10px 6px 10px !important;
        background: black;
        color: white;
    }

    ion-card {
        // width: 43% !important;
        min-height: 170px;
        background-color: black !important;
        background: black;
        // border-radius: 8px !important;
        display: inline-block;
        position: relative;
        box-shadow: 0px 0px 0px 0px rgb(0, 0, 0) !important;
    }

    ion-spinner {
        * {
        stroke: white !important;
        }
        
        &.spinner-circles circle,
        &.spinner-bubbles circle,
        &.spinner-dots circle {
          fill: white !important;
        }
        }
        
    .description {
        color: white;
        font-size: small;
        margin-top: 45%;
    }

    .p{
        color: white;
    }

    .item-md ion-avatar ion-img, .item-md ion-avatar img {
        // border-radius: 0;
        // overflow: hidden;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    
    .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
        // border-radius: 0;
        // overflow: hidden;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}
