page-about {

    .div{
        height: 100px;
    }
    .ion-item{
        // padding-left:  30px;
        background-color: transparent !important;
        margin-right: 10% !important;
        width: 92%;
    }

    .card{
        display: flex;
        width: 100%;
        background: #000000;
        color: #2ba9e3;
        border-radius: 10px;
        padding: 20px;
        font-size: 15px;
        font-weight: bold;  
        margin-top: 10px;
        margin-bottom: 10px;  
    }

    .ion-icon{
        margin-right: 15px;
        color : #2ba9e3;
        font-size: 25px;
    }
    
    .ion-icon2{
        margin-right: 15px;
        color :#2ba9e3;
        font-size: 25px;
    }

    .icon1{
       height: 80px;
    }

    .img{
        height: 140px;
        width: 140px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #2ba9e3;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .name{
        font-weight: bolder;
        margin-left: 30px;
        font-size: 18px;
        color: white;
        text-transform: uppercase;
        
    }

    .sub{
        font-weight: bold;
        margin-left: 30px;
        text-align: center;
    }

    .p{
        font-size: 11px;
        text-align: center;
    }
}
