<!-- <ion-menu [content]="content"> -->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding style="background: linear-gradient( 135deg, #284b88, #222, black); ">
  <img *ngIf="!user" class="icon1" src="assets/slife.png" item-start>
        
  <img *ngIf="user" (click)="presentModal()" class="img" src="{{photoUrl}}">

  <ion-item *ngIf="user" class="ion-item" style="background-color: transparent !important;">       
      <h2 text-center class="name">{{pseudo}}</h2>
      <p text-center class="sub">{{email}}</p>
      <!-- <ion-icon class="ion-icon2" name="md-create" item-end (click)="edit()"></ion-icon> -->
  </ion-item>

  <div class="card" menuClose (click)="home()">
    <ion-icon class="ion-icon" name="home" item-start ></ion-icon>
    Accueil
    </div>

<div *ngIf="user" class="card"  menuClose (click)="abonnements()">
<ion-icon class="ion-icon" name="paper" item-start ></ion-icon>
  Mes Abonnements
</div>

<div class="card" menuClose (click)="artistes()">
 <ion-icon class="ion-icon" name="videocam" item-start ></ion-icon>
      Tous les artistes
  </div>

  <div *ngIf="!user" menuClose (click)="login()" class="card">
      <ion-icon class="ion-icon" name="person" item-start ></ion-icon>
          Se connecter
      </div>

  <div *ngIf="!user" menuClose (click)="register()" class="card">
          <ion-icon class="ion-icon" name="bookmarks" item-start ></ion-icon>
              S' enregister
          </div>
  <!-- <div class="card">
  <ion-icon class="ion-icon" name="lock" item-start ></ion-icon>
      Privacy policy
  </div> -->

  <div *ngIf="user" class="card" menuClose (click)="edit()">
          <ion-icon class="ion-icon" name="md-create" item-start ></ion-icon>
              Modifier mes informations
          </div>
  <div *ngIf="user" menuClose (click)="showConfirm()" class="card">
          <ion-icon class="ion-icon" name="power" item-start ></ion-icon>
              Déconnexion
          </div>    
  
</ion-content>
<!-- </ion-menu> -->
<!-- <ion-nav #content main [root]="rootPage" type="overlay"></ion-nav> -->