<ion-header no-border>
  
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon color="netflix-dark" name="menu"></ion-icon>
    </button>
    <!-- <ion-title>Login</ion-title> -->
  </ion-navbar>

</ion-header>


<ion-content style="background:white" padding>
  
  <div class="div-center">
    <form (submit)="login()">
    <ion-list inset>
      <img src="assets/slife.png" class="center" alt=""><br>
      <ion-item>
        <ion-label>
          <ion-icon name="mail"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="E-mail" name="email" [(ngModel)]="dataUser.email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label>
          <ion-icon class="text-input" name="key"></ion-icon>
        </ion-label>
        <ion-input class="text-input"  type="password" placeholder="Mot de passe" name="password" [(ngModel)]="dataUser.password"></ion-input>
      </ion-item>
    
    </ion-list>
    <br>
    <button ion-button color="primary" outline style="width:100%" type="submit">Se connecter</button>
    </form>

    <p (click)="presentPrompt()" class="text-center text-dark">Mot de passe oublié?</p>
    <ion-grid class="middle">
        <ion-row>
          <ion-col><div class="horizontal-line"></div></ion-col>
          <ion-col>
              <p class="text-center text-dark" style="font-size: 1.2em;margin-top: -5px">OU</p>
          </ion-col>
          <ion-col><div class="horizontal-line"></div></ion-col>
        </ion-row>
    </ion-grid>
    <p (click)="register()" class="text-center text-dark">Vous n'avez pas de compte? <b>S'inscrire</b></p>
    <!-- <p class="text-center text-light" style="font-size: 1.2em;" (tap)="loginFacebook()">
      <b>
        <ion-icon name="logo-facebook"></ion-icon>
        Se connecter avec Facebook
      </b>
    </p> -->
  </div>
 
</ion-content>

