<ion-header no-border>

  <ion-navbar transparent>
    <button ion-button menuToggle>
			<ion-icon color="white" name="menu"></ion-icon>
		</button>
    <!-- <ion-title>Login</ion-title> -->
  </ion-navbar>

</ion-header>

<!-- <ion-content style="background:white" padding>
  
  <form>
    <div class="div-center">
      <ion-list inset>
        <img src="assets/slife.png" class="center" alt=""><br>
        <ion-item>
          <ion-label>
            <ion-icon name="person"></ion-icon>
          </ion-label>
          <ion-input type="text" placeholder="Prénoms" name="name" [(ngModel)]="user.name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-icon name="person"></ion-icon>
          </ion-label>
          <ion-input type="text" placeholder="Noms" name="surname" [(ngModel)]="user.surname"></ion-input>
        </ion-item>

          <ion-item>
              <ion-label>
                <ion-icon name="mail"></ion-icon>
              </ion-label>
              <ion-input type="email" placeholder="E-mail" name="email" [(ngModel)]="user.email"></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label>
                <ion-icon name="call"></ion-icon>
              </ion-label>
              <ion-input type="number" placeholder="Téléphone" name="Téléphone" [(ngModel)]="user.telephone"></ion-input>
            </ion-item>

        <ion-item>
          <ion-label>
            <ion-icon class="text-input" name="key"></ion-icon>
          </ion-label>
          <ion-input class="text-input"  type="password" placeholder="Mot de passe(8 caractères minimun)" name="password" [(ngModel)]="user.password"></ion-input>
        </ion-item>
      
        
        <ion-item>
          <ion-label>
            <ion-icon class="text-input" name="key"></ion-icon>
          </ion-label>
          <ion-input class="text-input"  type="password" placeholder="Confirmer mot de passe" name="password_confirmation" [(ngModel)]="user.password_confirmation"></ion-input>
        </ion-item>

        <img class="img" [src]="picture" *ngIf="picture">

        <ion-item style="background-color: transparent;" text-center>
          <button ion-button round icon-start (click)="actionSheet()">
              <ion-icon name="aperture"> </ion-icon>
               photo de profil
          </button>
        </ion-item>

      </ion-list>
      <br>
      <button ion-button color="primary" style="width:100%" (click)="register()">S'inscire</button>
    </div>
  </form>
 
</ion-content> -->

<ion-content class="bg-white">
  <ion-content class="home-bg">
    <div class="bg-white">
      <!-- <div class="bg-white" style="background: url(assets/images/Bg.jpg); background-size: cover;
      background-size: 100%; "> -->

          <ion-grid>
              <ion-row>
                  <ion-col col-12 text-center>
                      <img src="assets/smile.png" alt="" class="center">
                  </ion-col>
              </ion-row>
             
          </ion-grid>
      </div>
      
   <div style="padding: 5px;" class="bg-white">
    <div >
         <ion-list >
            <ion-grid col-11 col-sm-10 style="padding: 2rem 0;">
                <ion-row>
                    <ion-col class="form-theme">
                        <ion-input type="text" placeholder="Prénoms" name="name" [(ngModel)]="user.name" class="input"></ion-input>
                        <ion-input type="text" placeholder="Noms" name="surname" [(ngModel)]="user.surname"  class="input"></ion-input>
                        <ion-input type="email" placeholder="E-mail" name="email" [(ngModel)]="user.email"  class="input"></ion-input>
                        <ion-input type="number" placeholder="Téléphone" name="Téléphone" [(ngModel)]="user.telephone"  class="input"></ion-input>
                        <ion-input type="password" placeholder="Mot de passe(8 caractères minimun)" name="password" [(ngModel)]="user.password"  class="input"></ion-input>
                        <ion-input type="password" placeholder="Confirmer mot de passe" name="password_confirmation" [(ngModel)]="user.password_confirmation"  class="input"></ion-input>

                        <img class="img" [src]="picture" *ngIf="picture">

                        <ion-item style="background-color: transparent;" text-center>
                          <button ion-button round icon-start (click)="actionSheet()">
                              <ion-icon name="camera"> </ion-icon>
                              photo de profil
                          </button>
                        </ion-item>

                    
                <ion-col col-12>
                    <button ion-button type="submit" color="danger" block class="btn-theme-big-red" style="background: #E1306C !important;" (click)="register()">S'inscire</button>
                </ion-col>
             
                    </ion-col>
                </ion-row>

              </ion-grid>      
        </ion-list>
              
          </div>
      </div>

    </ion-content>
  </ion-content>