page-artistes {

    .searchbar-input {
        background: rgb(240, 240, 240) !important;
        border-radius: 30px !important;
        height: 35px !important;
        max-width: 400px;
        font-size: 13px !important;
        border: 0px solid transparent;
        box-shadow: 0px 0px 0px 0px rgb(255, 255, 255) !important;
        margin-top: 5px !important;
        // color: #fff;
    }

    .md-img {
        // border-radius: 8px;
        height: 190px;
        object-fit: cover;
    }

    ion-card {
        // width: 43% !important;
        min-height: 170px;
        background-color:#222 !important;
        background: #222;
        border-radius: 8px !important;
        display: inline-block;
        position: relative;
        box-shadow: 0px 0px 0px 0px rgb(0, 0, 0) !important;
    }

    ion-card-title{
        font-size: 14px !important;
        margin: 0 !important;
        padding: 0 !important;
        font-weight: bold;
        text-align: left;
        // background: #5857be;
        color: white;
    }

    .limited-text{
        white-space: nowrap;
        width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
    }

    ion-card-content{
        padding: 6px 10px 6px 10px !important;
        background: #a83b9f;
        color: white;
    }

    ion-spinner {
        * {
        stroke: white !important;
        }
        
        &.spinner-circles circle,
        &.spinner-bubbles circle,
        &.spinner-dots circle {
          fill: white !important;
        }
        }
}
