page-login2 {
    .home-bg{
        //  background: url(../images/Bg.jpg);
         // opacity:0.5;
          background-size: cover;
          background-size: 100%;
          background-repeat: no-repeat;
      }
      
      .center{
        margin-left: auto;
        margin-right: auto;
        width: 40%;
      }
      
          .scroll-content {
              padding-bottom: 0 !important;
            }
           
            .logo {
              width: 35%;
              margin: 1% 0;
            }
            .text-input {
              color: rgb(255, 255, 255)!important;
              padding-left: 4px;
            }
            ion-segment {
              width: 80%;
              margin: 0 auto;
            }
            .info-text {
              height: 4.5rem;
              font-size: 1.5rem;
            }
            .sign-row {
              margin-bottom: -5px;
              .segment-button {
                font-weight: bold;
                color: #b9b9b9;
                opacity: 1;
                font-size: 1.3rem;
                text-transform: none;
                border: none;
                &:after {
                  content: "";
                  display: block;
                  width: 50px;
                  height: 4px;
                  border-radius: 5px;
                  position: relative;
                  background: transparent;
                  margin: 0 auto;
                  bottom: 1px;
                }
                &.segment-activated {
                  color: #d71e1e;
                  &:after {
                    background: #d71e1e;
                  }
                }
              }
            }
      
            .passwordIcon{
              font-size:2rem !important;
              position: relative !important;
              top: 22px !important;
              margin: 0 auto !important;
           }
}
