<ion-header no-border>
  
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon color="light" name="menu"></ion-icon>
    </button>
    <!-- <ion-title>Login</ion-title> -->
  </ion-navbar>

</ion-header>

<ion-content style="background:black">
  <ion-content  style="background:black" class="home-bg">
    <div class="bg-white">
      <!-- <div class="bg-white" style="background: url(assets/images/Bg.jpg); background-size: cover;
      background-size: 100%; "> -->

          <ion-grid>
              <ion-row>
                  <ion-col col-12 text-center>
                      <img src="assets/smile.png" alt="" class="center">
                  </ion-col>
              </ion-row>
             
          </ion-grid>
      </div>
      
<div style="padding: 5px;" class="bg-white">
    <div >
         <ion-list >
            <ion-grid col-11 col-sm-10 style="padding: 2rem 0;">
                <ion-row>
                    <ion-col class="form-theme">
                        <ion-input type="text" placeholder="E-mail" name="email" [(ngModel)]="dataUser.email"  class="input"></ion-input>
                        <ion-input type="password" [(ngModel)]="dataUser.password" name="Password" placeholder="Mot de passe" class="input">
                             <ion-icon name="eye" item-right (click)="showHide()"></ion-icon> 
                        </ion-input>

                    
                <ion-col col-12>
                    <button ion-button type="submit" color="danger" block class="btn-theme-big-red" (click)="login()" style="background: #fa5c4b !important;">Se connecter</button>
                </ion-col>
             
                    </ion-col>
                </ion-row>

                    
                <p (click)="presentPrompt()" class="text-center text-white" style="font-weight: 500;">Mot de passe oublié?</p>
                <ion-grid class="middle" style="margin-bottom: 0;">
                    <ion-row style="margin-bottom: 0;">
                      <ion-col><div class="horizontal-line"></div></ion-col>
                      <ion-col>
                          <p class="text-center text-second" style="font-size: 1.1rem;margin-top: -5px;">OU</p>
                      </ion-col>
                      <ion-col><div class="horizontal-line"></div></ion-col>
                    </ion-row>
                </ion-grid>
                <p (click)="register()" class="text-center text-white">Vous n'avez pas de compte? <b>S'inscrire</b></p>
            </ion-grid>
        </ion-list>
              
          </div>
      </div>

   
  </ion-content>
</ion-content>
