<ion-header no-border>
  <ion-navbar style="margin-top: 25px; color: white;" transparent>
    <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
    <ion-searchbar style="margin-bottom: 5px; width: 95%; height: 25px !important;" no-border showCancelButton="true" (search)="onSearch($event)"
  (ionCancel)="onCancel($event)"
  [(ngModel)]="searchTerm"
  (ionInput)="getItems($event)" placeholder="Trouver un arstiste" mode="md">
</ion-searchbar>
  </ion-navbar>
</ion-header>

<!-- <ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header> -->


<ion-content padding style="background:linear-gradient( 135deg, #314364, blue, white);">

  <ion-card (click)="detailArtist(i)" *ngFor="let aa of filterData; let i = index">
    <img class="md-img" src="{{imgPath(aa.photo)}}"/>
    <ion-card-content>
        <ion-card-title class="limited-text">
            {{aa.nom}}
          </ion-card-title>
        <!-- <p class="subtitle limited-text" >
            details
        </p> -->
    </ion-card-content>
  </ion-card>
  
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let aa of filterData; let i = index"  col-6>
        <ion-card (click)="detailArtist(i)">
          <img class="md-img" src="{{imgPath(aa.photo)}}"/>
          <ion-card-content>
              <ion-card-title class="limited-text">
                  {{aa.nom}}
                </ion-card-title>
              <!-- <p class="subtitle limited-text" >
                  details
              </p> -->
          </ion-card-content>
        </ion-card>
      </ion-col>


      <div text-center style="margin-top: 50%;" class="center" *ngIf="isloading">
        <div text-center>
          <p><ion-spinner style="color: #ffffff;" name="crescent"></ion-spinner></p>
        </div>
      </div>

      <!-- <ion-col col-6>
        <ion-card (click)="push()">
          <img class="md-img" src="assets/MV5BMjc4OTc0ODgwNV5BMl5BanBnXkFtZTcwNjM1ODE0MQ@@._V1_UY209_CR0,0,140,209_AL_.jpg"/>
          <ion-card-content>
              <ion-card-title class="limited-text">
                  name
                </ion-card-title>
              <p class="subtitle limited-text" >
                  details
              </p>
          </ion-card-content>
        </ion-card>
      </ion-col> -->

    </ion-row>
  </ion-grid>

</ion-content>
