<!--
  Generated template for the PicturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content style="background-color: black">

    <ion-item no-lines style="background-color: black; color: white; margin-top: 8%;">
        <ion-icon (click)="cancel()" name="close" item-start></ion-icon>
          
        <!-- <ion-icon (click)="edit()" name="checkmark" item-end></ion-icon> -->
      </ion-item>

      <div class="center">
          <img (click)="actionSheet()" class="img" src="{{photoUrl}}" >
      </div>
              
</ion-content>
