page-picture {

    .vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

.img{
    height: 85%;
    width: 85%;
    // border-radius: 50%;
    object-fit: contain;
    // border: 2px solid rgb(140, 157, 250);
}
.center{
    // position: absolute;
    // top: 2%;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

}
