<ion-header no-border>
  <ion-toolbar transparent color="netflix-dark">
    <button ion-button menuToggle>
			<ion-icon color="light" name="menu"></ion-icon>
		</button>
    <ion-title text-center center>
      <img class="logo-header" src="assets/smile.png">
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="getFreeVideo()"  icon-only>
        <ion-icon *ngIf="!loaded" name="refresh"></ion-icon>
      </button>
      <button ion-button (click)="getFreeVideo()"  icon-only>
        <ion-icon *ngIf="loaded" name="tv"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background:black">

  <ion-refresher (ionRefresh)="doRefresh($event)" no-lines no-border>
    <ion-refresher-content no-lines no-border color="primary" refreshingSpinner="crescent" refreshingText="" pullingIcon="null">   
    </ion-refresher-content>
  </ion-refresher>

  <!-- <img (click)="openMovie()" class="img-intro" src="../../assets/bright-netflix.jpg"> -->
  <div *ngIf="freeVideos" style="height:35%; margin-bottom: 25px !important; width: 100% !important;">
  <ion-slides style="width: 100% !important;" pager  autoplay="2000" loop="false" speed="2000"> 
    <ion-slide style="width: 100% !important;" *ngFor="let v of freeVideos; let i = index" (click)="playVideo(i)">
      <!-- <img class="shadow" src="{{v.cover.path}}"/> -->
      <ion-card style="background: black; min-height: 150px;">
        <img style="width: 100%; height: 100% !important; object-fit: fill;" src="{{imgVidPath(v.cover)}}"/>
        <div class="darkBg"></div>
        <ion-icon class="card-title" name="play"></ion-icon>
        <!-- <div class="card-title"> -->
          <!-- <img style="opacity: 0.5; height: 100%; object-fit: cover;" src="assets/imgs/play.png"/> -->
        <!-- </div> -->
        <!-- <div class="card-subtitle">lire vidéo</div> -->
      </ion-card>

    </ion-slide>
    <!-- <ion-slide>
        <img class="shadow" src="assets/ep1.jpg"/>
      </ion-slide>
      <ion-slide>
        <img class="shadow" src="assets/bright-netflix.jpg"/>
      </ion-slide> -->
  </ion-slides>
</div>
  <!-- <button ion-button (click)="openMovie()" full color="netflix-dark">Regarder maintenant</button> -->
  
  <!-- <p class="box-title">Recommandations</p> -->
  <ion-grid class="box-title2">
    <ion-row>
        <ion-col col-9>
            <p class="box-title2">Recommandations</p> 
        </ion-col>
        <ion-col col-3>
          <!-- <p class="box-title2">
            <ion-badge (click)="seeMoreRcmd()" item-end>Voir plus</ion-badge>
          </p> -->
          <button ion-button color="primary" outline (click)="seeMoreRcmd()">Voir plus</button>
        </ion-col>
    </ion-row>
</ion-grid>
  <div *ngIf="recmdArtists" class="scroll-box">
    <div *ngFor="let ra of recmdArtists; let i = index" (click)="detailRcmdA(i)" class="movie">
      <img src="{{imgPath(ra.photo)}}" style="background: url('assets/man.jpg') no-repeat center;background-size: cover;">
      <div class="name">{{ra.nom}}</div>
    </div>
    <!-- <div class="movie">
      <img (click)="openMovie()" src="assets/MV5BMjA5NzgxODE2NF5BMl5BanBnXkFtZTcwNTI1NTI0OQ@@._V1_UY209_CR0,0,140,209_AL_.jpg">
    </div>
    <div class="movie">
      <img (click)="openMovie()" src="assets/MV5BMjc4OTc0ODgwNV5BMl5BanBnXkFtZTcwNjM1ODE0MQ@@._V1_UY209_CR0,0,140,209_AL_.jpg">
    </div>
    <div class="movie">
      <img (click)="openMovie()" src="assets/MV5BNGYyZGM5MGMtYTY2Ni00M2Y1LWIzNjQtYWUzM2VlNGVhMDNhXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UY209_CR0,0,140,209_AL_.jpg">
    </div>
    <div class="movie">
      <img (click)="openMovie()" src="assets/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX140_CR0,0,140,209_AL_.jpg">
    </div> -->
  </div>
  <br>

  <!-- <p class="box-title">Sélectionné pour vous</p> -->
  <ion-grid class="box-title2">
    <ion-row>
        <ion-col col-8>
            <p class="box-title2">Artistes</p> 
        </ion-col>
        <ion-col col-4>
          <!-- <p class="box-title2"><ion-badge (click)="seeMoreAll()" item-end>Tout Afficher</ion-badge></p> -->
          <button ion-button color="primary" outline (click)="seeMoreAll()">Tout afficher</button>
        </ion-col>
    </ion-row>
</ion-grid>
  <div *ngIf="allArtists" class="scroll-box">
    <div *ngFor="let aa of allArtists; let i = index" (click)="detailallA(i)" class="movie">
      <img src="{{imgPath(aa.photo)}}" style="background: url('assets/man.jpg') no-repeat center;background-size: cover;border-radius: 50%;border: 2px solid #E1306C; width: 150px;min-width: 150px;height: 150px;">
      <div class="nameround">{{aa.nom}}</div>
    </div>
    <!-- <div class="movie">
      <img (click)="openMovie()" src="assets/MV5BYzVmMTdjOTYtOTJkYS00ZTg2LWExNTgtNzA1N2Y0MDgwYWFhXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX140_CR0,0,140,209_AL_.jpg">
    </div>
    <div class="movie">
      <img (click)="openMovie()" src="assets/MV5BYzllMjJkODAtYjMwMi00YmNhLWFhYzAtZjZjODg5YzEwOGUwXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UY209_CR1,0,140,209_AL_.jpg">
    </div>
    <div class="movie">
      <img (click)="openMovie()" src="assets/MV5BYjQ5NjM0Y2YtNjZkNC00ZDhkLWJjMWItN2QyNzFkMDE3ZjAxXkEyXkFqcGdeQXVyODIxMzk5NjA@._V1_UY209_CR3,0,140,209_AL_.jpg">
    </div>
    <div class="movie">
      <img (click)="openMovie()" src="assets/MV5BOWRiZDIxZjktMTA1NC00MDQ2LWEzMjUtMTliZmY3NjQ3ODJiXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UY209_CR5,0,140,209_AL_.jpg">
    </div> -->
  </div>
  <br>


  <div *ngIf="hasSubscription">
  <ion-grid class="box-title2">
    <ion-row>
        <ion-col col-8>
            <p class="box-title2">Vos Artistes</p> 
        </ion-col>
        <ion-col col-4>
          <!-- <p class="box-title2"><ion-badge (click)="seeMoreVA()" item-end>Tout Afficher</ion-badge></p> -->
          <button ion-button color="primary" outline (click)="seeMoreVA()">Tout afficher</button>
        </ion-col>
    </ion-row>
</ion-grid>
  <div class="scroll-box">
    <div *ngFor="let l of listSubscription; let i = index" (click)="detailVArtist(i)" class="movie">
      <img src="{{imgPath(l.artisteforfait.artiste.photo)}}" style="background: url('assets/man.jpg') no-repeat center;background-size: cover;">
      <div class="name">{{l.artisteforfait.artiste.nom}}</div>
    </div>
  </div>
  <br>
</div>

</ion-content>