page-home {
  ion-spinner {
    * {
    stroke: white !important;
    }
    
    &.spinner-circles circle,
    &.spinner-bubbles circle,
    &.spinner-dots circle {
      fill: white !important;
    }
    }
    
      .logo-header {
        height: 120px;
        margin-top: 5px;
      }
      .img-intro {
        margin-bottom: -7px;
      }
      .box-title {
        color: white;
        margin: 10px 0px 5px 5px;
        font-weight: 500;
      }

      .has-refresher>.scroll-content {
        border-top: 0 !important;
    }

      .box-title2 {
        color: rgb(215, 215, 215);
        margin: 5px 0px 0px 0px;
        font-weight: bolder;
        font-size: 17px;
      }
      .scroll-box {
        display: flex;
        overflow: scroll;
        background-color: transparent !important;
      }
      .movie {
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 8px;
        background-color: transparent !important;
    //     background-image: linear-gradient(rgba(0, 0, 0, 0.7), #222428),
    //  url("../../assets/strangers-things.jpg");
      }
      .movie img {
        height: 180px;
        min-width: 120px;
        width: 120px;
        opacity: 0.8;
        object-fit: cover;
        border-radius: 5px;
        border: 2px solid #fa5c4b;
        // background: url('assets/slife.png') no-repeat;
        // background-image: url('assets/slife.png') no-repeat;
      }
      .shadow{
          width: 100%;
      }

      ion-card {
        position: relative;
        text-align: center;
        height: 100%;
      }
    
      .card-title {
        position: absolute;
        top: 42%;
        font-size: 60px;
        // height: 100%;
        // width: 50%;
        left: 45%;
        font-weight: bold;
        color: rgb(255, 255, 255);
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 25%;
        font-weight: bold;
        width: 100%;
        color: rgb(255, 255, 255);
      }
      
      .darkBg {
        // font-size: 1.0em;
        position: absolute;
        top: 1%;
        // font-weight: bold;
        // height: 100%;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        background: black;
        color: rgb(0, 0, 0);
      }

      .name {
        font-size: 15px;
        // position: absolute;
        // bottom: 5%;
        font-weight: 500;
        // font-family: fantasy;
        width: 100%;
        left: 3%;
        color: rgb(190, 190, 190);
      }

      .nameround {
        font-size: 15px;
        // position: absolute;
        // bottom: 5%;
        font-weight: 500;
        // font-family: fantasy;
        width: 100%;
        // left: 3%;
        text-align: center;
        color: rgb(190, 190, 190);
      }

      .button-md {
        border-radius: 2px;
        overflow: hidden;
        height: 3rem;
        font-size: 1.1rem;
        font-weight: 500;
        text-transform: none;
        margin: 0.4rem 0.2rem;
        width:100%;
        // padding: 10, 10, 10, 10;
        padding-top: 10px !important;
        padding-bottom: 10px;
      }
}
