<ion-header no-border>
  <ion-navbar style="margin-top: 25px; color: white;" transparent>
    <button ion-button menuToggle>
			<ion-icon color="light" name="menu"></ion-icon>
		</button>
      <ion-title color="light">
        <span text-color="light"> Modifier Profil </span>
        </ion-title>
  </ion-navbar>
</ion-header>

<!-- Themes  register-flat-->
<ion-content style="background:black">
  <ion-grid no-padding>
    <!-- Section form>-->
  <ion-col col-10 offset-1 col-md-6 offset-md-3>
    <form padding>
      <!-- Input-field -->
      <img (click)="actionSheet()" class="img" src="{{photoUrl}}" >
      <ion-row>
        <ion-col col-12>
          <ion-col class="form-theme">
            <ion-item no-padding>
              <ion-label stacked>Nom</ion-label>
            <ion-input type="text" placeholder="Nom" [(ngModel)]="data.surname" [ngModelOptions]="{standalone: true}" class="input"></ion-input>
           </ion-item>

           <ion-item no-padding>
            <ion-label stacked>Prénom</ion-label>
          <ion-input type="text" placeholder="Prénom" [(ngModel)]="data.name" [ngModelOptions]="{standalone: true}" class="input"></ion-input>
        </ion-item>

        <ion-item no-padding>
          <ion-label stacked>email</ion-label>
        <ion-input type="email" placeholder="email" [(ngModel)]="data.email" [ngModelOptions]="{standalone: true}" class="input"></ion-input>
       </ion-item>

      </ion-col>
         
          <!-- Login button -->
            <button no-margin ion-button full text-uppercase (click)="update()">Modifier informations</button>

        </ion-col>
      </ion-row>

          <br>

          <ion-row>
            <ion-col col-12>

              <p style="color: white; font-weight: bold;" text-center>Mot de passe</p>
            <!-- <div input-field> -->
              <ion-col class="form-theme">
                <ion-item no-padding>
                  <ion-label stacked></ion-label>
                    <ion-input type="password" placeholder="mot de passe actuel" [(ngModel)]="oldpassword" [ngModelOptions]="{standalone: true}"></ion-input>
                   </ion-item>
              <ion-item no-padding>
                <ion-label stacked></ion-label>
                <ion-input type="password" placeholder="Nouveau mot de passe(8 caractères min)" [(ngModel)]="data2.password" [ngModelOptions]="{standalone: true}"></ion-input>
               </ion-item>
               <ion-item no-padding>
                <ion-label stacked></ion-label>
                <ion-input type="password" placeholder="Confirmer Nouveau mot de passe" [(ngModel)]="cpassword" [ngModelOptions]="{standalone: true}"></ion-input>
               </ion-item>            
              </ion-col>
                
            <!-- </div> -->

            <button no-margin ion-button full text-uppercase (click)="updatePwd()">Modifier mot de passe</button>

        </ion-col>
      </ion-row>
    </form>
    </ion-col>
  </ion-grid>

 
</ion-content>
