page-succes {

    .button-full {
        min-height: 44px;
        margin-left: 0;
        margin-right: 0;
        letter-spacing: 2px;
        font-size: 12px;
        font-weight: 700;
        border-radius: 8px;
        background :#687DFC;    
    }
    
}
