<ion-header no-border>
  <ion-navbar transparent color="light">
  </ion-navbar>
</ion-header>

<ion-content padding style="background:linear-gradient( 135deg,  white, white, #314364);">
  <img class="logo" src="assets/icon/checked.png" style="display: block;margin-left: auto; margin-right: auto;width: 50%;"/>
  <h4 style="color: black;" text-center>{{ text }}</h4>
  <br>
  <!-- <a center style="font-size:17px" (click)="returnToHome()">Retourner à la page d'accueil</a> -->
  <button ion-button full text-uppercase (click)="returnToHome()">Retourner à la page d'accueil</button>

</ion-content>
