<ion-header no-border>
  <ion-navbar transparent style="margin-top: 5%;" color="light">
  </ion-navbar>
</ion-header>

<ion-content style="background-color: black;" padding>
  <h3 text-center>Paiement</h3>
  <img src="assets/icon/wallet.png" class="center">
 <br>
  <div class="card">
    <h5 style="text-align:center">
      Montant à payer
    </h5>
      <h1 style="text-align:center">
       {{price}} FCFA.
      </h1>
  </div>

  <ion-list radio-group [(ngModel)]="datanew.channel">
    <p style="text-align:center; background: #222;">
      Moyen de paiement
    </p>

    <ion-item no-lines class="ion-item">
        <ion-label class="label">
          <!-- <img src="assets/imgs/orange-money.png" width="30px"> -->
          Orange Money
        </ion-label>
        <ion-radio value="OM"></ion-radio>
    </ion-item>

    <ion-item no-lines class="ion-item">
        <ion-label class="label">
          <!-- <img src="assets/imgs/mtn-mobile-money.jpg" width="30px">-->
          MTN Mobile Money 
        </ion-label>
        <ion-radio value="MOMO" ></ion-radio>
    </ion-item>

    <ion-item no-lines class="ion-item">
      <ion-label class="label">
        <!-- <img src="assets/imgs/moov.jpg" width="30px"> -->
        Moov Flooz
      </ion-label>
      <ion-radio value="FLOOZ" ></ion-radio>
  </ion-item>

  <ion-item no-lines class="ion-item">
    <ion-label class="label">
      <!-- <img src="assets/imgs/moov.jpg" width="30px"> -->
      Carte Bancaire
    </ion-label>
    <ion-radio value="CARD" ></ion-radio>
</ion-item>

  <!-- <ion-item style="margin-top: 10%;">
    <ion-label floating>Numéro de téléphone</ion-label>
    <ion-input type="number" [(ngModel)]="data.telephone"  class="input"></ion-input>
  </ion-item> -->
 
</ion-list>
<!-- 
<div >
  <ion-list >
     <ion-grid col-11 col-sm-10 style="padding: 2rem 0;"> -->
         <!-- <ion-row> -->
             <ion-col class="form-theme">
                 <ion-input type="number" placeholder="Numéro de téléphone" [(ngModel)]="datanew.phone" class="input"></ion-input>
             </ion-col>
         <!-- </ion-row> -->
       <!-- </ion-grid>      
 </ion-list>
   </div> -->

<button class="buttonSubmit" no-margin ion-button full text-uppercase (click)="payer()">Payer</button>

</ion-content>