/*font css*/ 
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    font-family: 'Montserrat', sans-serif ;
}

.form-theme{
    width: 100%;
    display: block;
    .input{
        background: #272727;
        border: 0px;
        border-radius: 5px;
        margin-bottom: 1rem;
    }
    .text-input{
        color: #c0c0c0;
    }
}


.btn-theme-big-red{
    height: 4.5rem !important;
    &.button {
        background-color: #d71e1e;
        text-transform: none;
        border-radius: 5px;
    }
}
.btn-theme-big-white{
    height: 4.5rem !important;
    &.button {
        background-color: #fff;
        color:#d71e1e;
        text-transform: none;
        border-radius: 5px;
    }
}
.toolbar-title{
    font-size: 1.6rem !important;
}
.bg-theme{
    background: #f9f9f9;
}
.bg-white{
    background: rgb(0, 0, 0);
}
.text-red{
    color:#d71e1e !important;
}
.bg-red{
    background: #d71e1e !important;
}
.text-white{
    color: #fff  !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.88);
    overflow-x: hidden;
    transition: 0s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
	font-size: 18px;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: -10px;
}


/////////////////for menu bar ///////////////////////////



.menu-inner {
    background: rgba(0, 0, 0, 0.75) !important;
    .item,
    .item-inner,
    .toolbar-background {
        background: transparent !important;
        border-color: transparent !important;
        color: #fff;
    }
    ion-content {
        background: transparent !important;
    }
    ion-header {
        ion-avatar {
            min-width: 60px;
            min-height: 60px;
            img {
                width: 60px;
                height: 60px;
            }
        }
        .toolbar-content {
            padding-top: 1.3rem;
        }
        h2 {
            display: flex;
            align-items: center;
            margin-bottom: 7px;
            ion-icon {
                margin-left: auto;
            }
        }
        p {
            color: rgba(255, 255, 255, 0.5);
            font-size: 1.2rem;
        }
        .menu-tabs {
            img {
                width: 30px;
            }
            background: #f30125bd;
            p {
                color: #fff;
              font-size: 1.10rem;
                margin: 0;
            }
        }
    }
    .menu-title {
        padding: 16px 8px;
        button {
            ion-label {
                display: flex;
                align-items: center;
                font-size: 1.3rem;
                margin-top: 10px;
                margin-bottom: 10px;
                img {
                    width: 34px;
                    margin-right: 2rem;
                }
                span {
                    small {
                        display: block;
                        opacity: .5;
                        margin-bottom: 5px;
                        font-size: 95%;
                    }
                }
            }
        }
    }


    .alert-title {
        text-align: center;
        font-size: 10px !important;
       
    }



 
  
}
// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// .tabs-md .tabbar , .tabs-ios .tabbar{
//     background: rgb(20, 20, 20);
//     height: 50px;
//   }

//   .tabbar {
// 	a.tab-button[aria-selected=true]:nth-of-type(1) {
// 		color: #2ba9e3;
// 		.tab-button-icon {
// 			color: #2ba9e3;
// 		}
// 	}
// 	a.tab-button[aria-selected=true]:nth-of-type(2) {
// 		color: #488aff;
// 		.tab-button-icon {
// 			color: #488aff;
// 		}
// 	}
// 	a.tab-button[aria-selected=true]:nth-of-type(3) {
// 		color: red;
// 		.tab-button-icon {
// 			color: red;
// 		}
// 	}
// }

ion-header ion-icon.back-button-icon.icon {
    color: white;
}

::-webkit-scrollbar,
        *::-webkit-scrollbar {
        display: none;
        }

		
.text-center{
    text-align: center;
}

.text-light{
    color: white;
}

.text-dark{
    color: black;
}

.text-second{
    color:#898287;
}

.div-center{
    margin-top: 0%;
}

// .item.item-input {
//     background-color: transparent;
//     color: rgb(70, 70, 70);
// }

// .text-input::-moz-placeholder {
//     color: white;
//     font-size: 1.2em;
// }
  
// .text-input:-ms-input-placeholder {
//     color: white;
//     font-size: 1.2em;
// }

// .text-input::-webkit-input-placeholder {
// color: rgb(85, 82, 82);
// font-size: 1.2em;
// }

// .horizontal-line{
//     width: 100%;
//     height: 1px;
//     background-color: #2ba9e3;
// }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


// input {
// 	outline: none;
// }


// input:-moz-placeholder {
// 	color: #999;
// }
// input::-webkit-input-placeholder {
// 	color: #999;
// }


.div-app{
    height: 100px;
}
.ion-item-app{
    // padding-left:  30px;
    background-color: transparent !important;
    margin-right: 10% !important;
    width: 92%;
}

.card-app{
    display: flex;
    width: 100%;
    background: transparent;
    color: #fa5c4b;
    // border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;  
    margin-top: 10px;
    margin-bottom: 10px; 
    border-bottom: solid .25px grey; 
    // border-color: black;
}

.ion-icon-app{
    margin-right: 15px;
    color : #fa5c4b;
    font-size: 25px;
}

.ion-icon2-app{
    margin-right: 15px;
    color :#fa5c4b;
    font-size: 25px;
}

.icon1-app{
   height: 150px;
}

.img-app{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fa5c4b;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.name-app{
    font-weight: bold;
    margin-left: 30px;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    
}

.sub-app{
    font-weight: bold;
    margin-left: 30px;
    text-align: center;
}

.p-app{
    font-size: 11px;
    text-align: center;
}
