<ion-menu [content]="content">
    <!-- <ion-header>
      <ion-navbar>
        <ion-title>
          About
        </ion-title>
      </ion-navbar>
    </ion-header> -->
    
    <ion-content padding style="background: black">
      <img *ngIf="!user" class="icon1-app" src="assets/smile.png" item-start>
            
      <img *ngIf="user" (click)="presentModal()" class="img-app" src="{{photoUrl}}">
    
      <ion-item *ngIf="user" class="ion-item-app" style="background-color: transparent !important;">       
          <h2 text-center style="font-weight: bolder;" class="name-app">{{pseudo}}</h2>
          <p text-center class="sub-app">{{email}}</p>
          <!-- <ion-icon class="ion-icon2" name="md-create" item-end (click)="edit()"></ion-icon> -->
      </ion-item>
    
      <div class="card-app" menuClose (click)="home()">
        <ion-icon class="ion-icon-app" name="home" item-start ></ion-icon>
        Accueil
        </div>
    
    <div *ngIf="user" class="card-app"  menuClose (click)="abonnements()">
    <ion-icon class="ion-icon-app" name="paper" item-start ></ion-icon>
      Mes Abonnements
    </div>
    
    <div class="card-app" menuClose (click)="artistes()">
     <ion-icon class="ion-icon-app" name="videocam" item-start ></ion-icon>
          Tous les artistes
      </div>
    
      <div *ngIf="!user" menuClose (click)="login()" class="card-app">
          <ion-icon class="ion-icon-app" name="person" item-start ></ion-icon>
              Se connecter
          </div>
    
      <div *ngIf="!user" menuClose (click)="register()" class="card-app">
              <ion-icon class="ion-icon-app" name="bookmarks" item-start ></ion-icon>
                  S' enregister
              </div>
      <!-- <div class="card">
      <ion-icon class="ion-icon" name="lock" item-start ></ion-icon>
          Privacy policy
      </div> -->
    
      <div *ngIf="user" class="card-app" menuClose (click)="edit()">
              <ion-icon class="ion-icon-app" name="md-create" item-start ></ion-icon>
                  Modifier mes informations
              </div>
      <div *ngIf="user" menuClose (click)="showConfirm()" class="card-app">
              <ion-icon class="ion-icon-app" name="power" item-start ></ion-icon>
                  Déconnexion
              </div>    
      
    </ion-content>
    </ion-menu>
    <ion-nav #content main [root]="rootPage" type="overlay"></ion-nav>