<ion-header>
  <ion-toolbar color="netflix-dark">
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Stranger Things</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-img" padding style="background-color: #222;">
  <div >
    <div class="ion-padding">

      <div class="img-header">
        <img src="../../assets/strangers-things.jpg">
      </div>

      <div class="tags">
        <p class="green">97% positif</p>
        <p>2017</p>
        <p>TV - 14</p>
        <p>2 Saisons</p>
      </div>

      <button ion-button icon-start block color="netflix-red">
        <ion-icon name="play"></ion-icon>
        Lecture
      </button>

      <p class="description">When a young boy disappears, his mother, a police chief, and his friends must confront terrifying supernatural forces in order to get him back.</p>
      <p class="cast">
        Creators: Matt Duffer, Ross Duffer<br>
        Stars: Millie Bobby Brown, Finn Wolfhard, Winona Ryder | See full cast & crew </p>

      <ion-segment color="netflix-red">
        <ion-segment-button value="liste" checked>
          <ion-icon color="light" name="add"></ion-icon>
          <ion-label color="light">Liste</ion-label>
        </ion-segment-button>
        <ion-segment-button color="light" value="rate">
          <ion-icon color="light" name="thumbs-up"></ion-icon>
          <ion-label color="light">Noter</ion-label>
        </ion-segment-button>
        <ion-segment-button value="share">
          <ion-icon color="light" name="share-alt"></ion-icon>
          <ion-label color="light">Partager</ion-label>
        </ion-segment-button>
        <ion-segment-button>
        </ion-segment-button>
      </ion-segment>

    </div>

    <h4 color="light">ÉPISODES</h4>
    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="../../assets/ep1.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
          Chapitre Un: The Vanishing of Will Byers
      </ion-label>
      <ion-icon color="light" item-end name="download"></ion-icon>
    </ion-item>
    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="../../assets/ep2.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
          Chapitre Deux: The Weirdo on Maple Street
      </ion-label>
      <ion-icon color="light" item-end name="download"></ion-icon>
    </ion-item>
    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="../../assets/ep3.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
          Chapitre Trois: Holly, Jolly
      </ion-label>
      <ion-icon color="light" item-end name="download"></ion-icon>
    </ion-item>
    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="../../assets/ep4.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
          Chapitre Quatre: The Body
      </ion-label>
      <ion-icon color="light" item-end name="download"></ion-icon>
    </ion-item>
    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="../../assets/ep5.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
          Chapitre Cinq: The Vanishing of Will Byers
      </ion-label>
      <ion-icon color="light" item-end name="download"></ion-icon>
    </ion-item>
    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="../../assets/ep6.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
          Chapitre Six: The Vanishing of Will Byers
      </ion-label>
      <ion-icon color="light" item-end name="download"></ion-icon>
    </ion-item>
    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="../../assets/ep7.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
          Chapitre Sept: The Vanishing of Will Byers
      </ion-label>
      <ion-icon color="light" item-end name="download"></ion-icon>
    </ion-item>
    <ion-item no-lines>
      <ion-avatar item-start>
        <img src="../../assets/ep8.jpg">
      </ion-avatar>
      <ion-label color="light" text-wrap>
          Chapitre Huit: The Vanishing of Will Byers
      </ion-label>
      <ion-icon color="light" item-end name="download"></ion-icon>
    </ion-item>
  </div>
</ion-content>
